@media only screen and (max-width: 767px) {

  .cardleft {
    display: flex;
    width: 100%;
    outline: 5px solid #bd93f9;
    outline-offset: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
    position: relative;
    text-align: center;
    color: #f8f8f2;
  }

  .cardright {
    display: flex;
    width: 100%;
    outline: 5px solid #bd93f9;
    outline-offset: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
    position: relative;
    text-align: center;
    color: #f8f8f2;
  }

}

@media only screen and (min-width: 768px) {
  .cardleft {
    display: flex;
    float: left;
    width: 49%;
    outline: 5px solid #bd93f9;
    outline-offset: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    position: relative;
    text-align: center;
    color: #f8f8f2;
  }

  .cardright {
    display: flex;
    float: right;
    width: 49%;
    outline: 5px solid #bd93f9;
    outline-offset: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    position: relative;
    text-align: center;
    color: #f8f8f2;
  }

  .cardleft:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px 0 rgba(0,0,0,4.0);
  }

  .cardright:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px 0 rgba(0,0,0,4.0);
  }

}

span.anim {
  opacity: 0;
  transition: all 0.4s ease;
}

span.fade {
  opacity: 1;
  transition: all 0.4s ease;
}

.crackme {
  color: #50fa7b;
  background: #282a36;
  font-family: 'Fira Code', monospace;
  font-size: 12vw;
  text-align: center;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.card-text {
  font-size: 1.2vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2px 16px;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.responsive{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}