@media only screen and (max-width: 767px) {

main {
  display: block;
  margin: 1rem;
  padding: 1rem;
  width : 95%;
}


  .cardleft {
    display: flex;
    width: 100%;
    outline: 5px solid #6272a4;
    outline-offset: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
    position: relative;
    text-align: center;
    color: #f8f8f2;
  }

  .cardright {
    display: flex;
    width: 100%;
    outline: 5px solid #6272a4;
    outline-offset: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
    position: relative;
    text-align: center;
    color: #f8f8f2;
  }

  p.anim{
    width: 100%;
    margin-top: 100px;
    font-family: 'Fira Code', monospace;
    font-size: 16vw;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  input.pswd, input.pswd:focus{
    font-family: 'Fira Code', monospace;
    font-size: 3vw;
    padding: 20px;
    background-color: #282a36;
    color: #f8f8f2;
    border: 5px solid #44475a;
    outline: none;
    height: 2.5rem;
    width: 73%;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    transition: ease-out 0.3s;
  }

  input.pswd:focus{
    border-color: #282a36;
  }

  input.pswd:hover{
    background-color: #6272a4;
  }

  button.subm {
    border-radius: 1px;
    background-color: #282a36;
    border: 5px solid #44475a;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 20%;
    height: 3rem;
    transition: ease-out 0.3s;
  }

  button.subm:hover {
    background-color: #6272a4;
  }

}

@media only screen and (min-width: 768px) {

  main {
    display: block;
    margin: 1rem;
    padding: 1rem;
    width : 68%;
  }


  body{
    cursor: url("/img/cur.cur"), default;
  }

  .cardleft {
    display: flex;
    float: left;
    width: 49%;
    outline: 5px solid #6272a4;
    outline-offset: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    position: relative;
    text-align: center;
    color: #f8f8f2;
  }

  .cardright {
    display: flex;
    float: right;
    width: 49%;
    outline: 5px solid #6272a4;
    outline-offset: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    position: relative;
    text-align: center;
    color: #f8f8f2;
  }

  .cardleft:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px 0 rgba(0,0,0,4.0);
  }

  .cardright:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px 0 rgba(0,0,0,4.0);
  }

  p.anim{
    width: 100%;
    margin: 0px;
    font-family: 'Fira Code', monospace;
    font-size: 9vw;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  input.pswd, input.pswd:focus{
    font-family: 'Fira Code', monospace;
    font-size: 1.5vw;
    padding: 20px;
    background-color: #282a36;
    color: #f8f8f2;
    border: 5px solid #44475a;
    outline: none;
    height: 2.5rem;
    width: 73%;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    transition: ease-out 0.3s;
  }

  input.pswd:focus{
    border-color: #282a36;
  }

  input.pswd:hover{
    background-color: #6272a4;
  }

  button.subm {
    border-radius: 1px;
    background-color: #282a36;
    border: 5px solid #44475a;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 23%;
    height: 2.5rem;
    transition: ease-out 0.3s;
  }

  button.subm:hover {
    background-color: #6272a4;
  }

}


.crackme {
  width: 100%;
  height: 100%;
  color: #bd93f9;
  background: #282a36;
  text-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  display: inline-block;
}

.crackmediv {
  min-height: 10%;
  outline: 5px solid #6272a4;
  outline-offset: 2px;
  margin-left: 0px;
  margin-bottom: 20px;
  border-color: #44475a;
}

span.anim {
  opacity: 0;
  transition: all 0.4s ease;
}

span.fade {
  opacity: 1;
  transition: all 0.4s ease;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.card-text {
  font-size: 1.2vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2px 16px;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.responsive{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
